<!DOCTYPE html>
<html>

<head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-deep_orange.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="static/js/host_client.js"></script>
</head>

<body>
    <div style="margin: 5vh 5vw">
        <h1>
            <div id="player">Player in hotseat:</div>
            <div id="team">Team in hotseat:</div>
        </h1>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="pass">Pass</button>
    </div>
</body>

</html>